.card-wrapper {
    display: flex;
    justify-content: center;
}

.card-wrapper2 {
    background: rgb(230, 228, 228);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 auto;
    width: 80%;
    max-height: 600px;
    max-width: 400px;
    min-width: 300px;
    position: absolute;
    bottom: 0;
}

.card {
    overflow: scroll;
}

.blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 10px;
    padding-top: 10px; 
}

hr {
    height: 1px;
    margin: 10px 20px;
    background-color:rgb(185, 193, 218);
}